<mos:comment>
@version $Id: adminfilters.html 1530 2005-12-21 22:24:08Z eddieajau $
@package Joomla
@copyright Copyright (C) 2005 Open Source Matters. All rights reserved.
@license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
Joomla! is free software. This version may have been modified pursuant
to the GNU General Public License, and as distributed it includes or
is derivative of works licensed under the GNU General Public License or
other free or open source software licenses.
See COPYRIGHT.php for copyright notices and details.
</mos:comment>

<mos:tmpl name="list-search" varscope="body">
	<input type="text" name="search" id="search" value="{SEARCH}" class="text_area" title="<mos:Translate>Search</mos:Translate>" />
	<input type="button" value="<mos:Translate>Go</mos:Translate>" class="button" onclick="this.form.submit();" />
	<input type="button" value="<mos:Translate>Reset</mos:Translate>" class="button" onclick="getElementById('search').value='';this.form.submit();" />
</mos:tmpl>

<mos:tmpl name="selectlist-state">
	<select name="filter_state" class="inputbox" onchange="this.form.submit();">
		<option value="">- <mos:Translate>State</mos:Translate> -</option>
		<mos:tmpl name="filter-state">
			<option value="{VALUE}" {SELECTED}>{TEXT}</option>
		</mos:tmpl>
	</select>
</mos:tmpl>

<mos:tmpl name="selectlist-access">
	<select name="filter_access" class="inputbox" onchange="this.form.submit();">
		<option value="">- <mos:Translate>Access</mos:Translate> -</option>
		<mos:tmpl name="filter-access">
			<option value="{VALUE}" {SELECTED}>{TEXT}</option>
		</mos:tmpl>
	</select>
</mos:tmpl>
