<mos:comment>
@version $Id: calendar.html 87 2005-09-15 23:12:03Z eddieajau $
@package Joomla
@copyright Copyright (C) 2005 Open Source Matters. All rights reserved.
@license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
Joomla! is free software. This version may have been modified pursuant
to the GNU General Public License, and as distributed it includes or
is derivative of works licensed under the GNU General Public License or
other free or open source software licenses.
See COPYRIGHT.php for copyright notices and details.
</mos:comment>

<mos:tmpl name="includeCalendar" useglobals="yes">
	<link rel="stylesheet" type="text/css" media="all" href="{SITEURL}/includes/js/calendar/calendar-mos.css" title="green" />
	<script type="text/javascript" src="{SITEURL}/includes/js/calendar/calendar.js"></script>
	<script type="text/javascript" src="{SITEURL}/includes/js/calendar/lang/calendar-en.js"></script>
	<script type="text/javascript" src="{SITEURL}/includes/js/calendar/calendar-setup.js"></script>
</mos:tmpl>

<mos:tmpl name="include-calendar-1.0" useglobals="yes">
	<link rel="stylesheet" type="text/css" media="all" href="{SITEURL}/includes/js/jscalendar-1.0/calendar-system.css" title="green" />
	<script type="text/javascript" src="{SITEURL}/includes/js/jscalendar-1.0/calendar_stripped.js"></script>
	<script type="text/javascript" src="{SITEURL}/includes/js/jscalendar-1.0/lang/calendar-en.js"></script>
	<script type="text/javascript" src="{SITEURL}/includes/js/jscalendar-1.0/calendar-setup_stripped.js"></script>
</mos:tmpl>

<mos:tmpl name="calendar-field">
	<button type="reset" id="trigger_{ID}" class="button">...</button>
	<script type="text/javascript">
	    Calendar.setup({
	        inputField     :    "{ID}",      // id of the input field
	        ifFormat       :    "{FORMAT}",       // format of the input field
	        <mos:tmpl type="simplecondition" requiredvars="showstime=true">
	        showsTime      :    true,            // will display a time selector</mos:tmpl>
	        button         :    "trigger_{ID}",   // trigger for the calendar (button ID)
	        singleClick    :    true,
	        step           :    1                // show all years in drop-down boxes (instead of every other year as default)
	    });
	</script>
</mos:tmpl>
