<mos:comment>
@version $Id: forms.html 87 2005-09-15 23:12:03Z eddieajau $
@package Joomla
@copyright Copyright (C) 2005 Open Source Matters. All rights reserved.
@license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
Joomla! is free software. This version may have been modified pursuant
to the GNU General Public License, and as distributed it includes or
is derivative of works licensed under the GNU General Public License or
other free or open source software licenses.
See COPYRIGHT.php for copyright notices and details.
</mos:comment>

<!-- SELECT LISTS -->
<mos:tmpl name="radio-set" autoclear="yes">
	<input type="radio" name="{NAME}" value="{VALUE}" id="{NAME}{VALUE}" class="{CLASS}" {SELECTED} />
	<label for="{NAME}{VALUE}">
		{TEXT}
	</label>
</mos:tmpl>
