<mos:comment>
@version $Id: page.html 5832 2006-11-21 18:59:45Z Saka $
@package Joomla
@copyright Copyright (C) 2005 Open Source Matters. All rights reserved.
@license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
Joomla! is free software. This version may have been modified pursuant
to the GNU General Public License, and as distributed it includes or
is derivative of works licensed under the GNU General Public License or
other free or open source software licenses.
See COPYRIGHT.php for copyright notices and details.
</mos:comment>

<!-- GENERIC PAGE -->
<mos:tmpl name="page" src="dynamic" autoload="off" parse="on" />

<!-- GENERIC FORM -->
<mos:tmpl name="form" autoclear="yes">
	<form action="{FORMACTION}" method="post" id="{FORMNAME}" name="{FORMNAME}" enctype="{FORMENCTYPE}">
		<mos:tmpl name="body" src="dynamic" autoload="off" parse="on" varscope="form" />
	</form>
</mos:tmpl>

<!-- MOSMSG -->
<mos:tmpl name="mosmsg" type="simplecondition" requiredvars="mosmsg" useglobals="yes">
	<div class="message">{MOSMSG}</div>
</mos:tmpl>

<!-- A HELP LINK -->
<mos:tmpl name="help">
	<a href="#" onclick="window.open('{SITEURL}/help/{FILE}.xml', 'mambo_help_win', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');">
		<mos:Translate>Help</mos:Translate></a>
</mos:tmpl>

<!-- FORM VALIDATION -->
<mos:tmpl name="js-validate" type="simplecondition" requiredvars="condition, message">
	if ({CONDITION}) {
		alert( '<mos:Translate>{MESSAGE}</mos:Translate>' );
		return false;
	}
</mos:tmpl>

<mos:tmpl name="js-cancel" type="simplecondition" requiredvars="TASK">
	if (pressbutton == '{TASK}') {
		submitform( pressbutton );
		return;
	}
</mos:tmpl>

<mos:tmpl name="js-refresh-frame">
	<script language="javascript" type="text/javascript">
	<!--
	if (window.location != parent.{FRAME}.location) {
		parent.{FRAME}.location=parent.{FRAME}.location;
	}
	//-->
	</script>
</mos:tmpl>


<!-- TOOL TIPS :: note include must go last -->
<mos:tmpl name="include-tooltips">
<script language="JavaScript" type="text/javascript" src="{SITEURL}/includes/js/wz_tooltip.js"></script>
</mos:tmpl>

<mos:tmpl name="tooltip" unusedvars="ignore">
	<a href="#" onmouseover="this.T_BGIMG='{SITEURL}/images/M_images/tt_bg.jpg';this.T_WIDTH=200;{OPTIONS};return escape('<mos:var name="tip" modifier="Translate" />')" class="tooltip">
		<mos:var name="text" modifier="Translate" /></a>
</mos:tmpl>
<mos:tmpl name="tooltip-i" unusedvars="ignore">
	<a href="#" onmouseover="this.T_BGIMG='{SITEURL}/images/M_images/tt_bg.jpg';this.T_WIDTH=200;{OPTIONS};return escape('<mos:var name="tip" modifier="Translate" />')">
		<img src="{SITEURL}/includes/js/ThemeOffice/tooltip.png" border="0" /></a>
</mos:tmpl>

<mos:tmpl name="include-overlib">
	<script language="javascript" type="text/javascript" src="{SITEURL}/includes/js/overlib_mini.js"></script>
	<script language="javascript" type="text/javascript" src="{SITEURL}/includes/js/overlib_hideform_mini.js"></script>
	<div id="overDiv" style="position:absolute; visibility:hidden; z-index:10000;"></div>
</mos:tmpl>

<!-- DYNAMIC TABS -->
<mos:tmpl name="includeTabs" useglobals="yes">
	<link id="luna-tab-style-sheet" type="text/css" rel="stylesheet" href="{SITEURL}/includes/js/tabs/tabpane.css" />
	<script type="text/javascript" src="{SITEURL}/includes/js/tabs/tabpane.js"></script>
	<style type="text/css">
	.dynamic-tab-pane-control .tab-row .tab {
		background-image: url({TABURL}tab.png);
	}
	.dynamic-tab-pane-control .tab-row .tab.selected {
		background-image:	url({TABURL}tab_active.png) !important;
	}
	.dynamic-tab-pane-control .tab-row .tab.hover {
		background-image:	url({TABURL}tab_hover.png);
	}
	</style>
</mos:tmpl>

<mos:tmpl name="startTabPane" varscope="body">
	<div class="tab-page" id="{PANEID}">
	<script language="javascript" type="text/javascript">
	<!--
	var tabPane1 = new WebFXTabPane( document.getElementById( '{PANEID}' ), {PANECOOKIES} );
	//-->
	</script>
</mos:tmpl>

<mos:tmpl name="startTab" varscope="body">
	<div class="tab-page" id="{PANEID}">
	<h2 class="tab">
			<mos:var name="tabtitle" modifier="translate" />
	</h2>
		<script language="javascript" type="text/javascript">
		<!--
	tabPane1.addTabPage( document.getElementById( '{PANEID}' ) );
		//-->
	</script>
</mos:tmpl>

<mos:tmpl name="endTab">
	</div>
</mos:tmpl>

<mos:tmpl name="endTabPane">
	</div>
</mos:tmpl>

<!-- GENERIC LIST -->
<mos:tmpl name="select-list-options" type="condition" conditionvar="selected">
	<mos:sub condition="__default">
		<option value="{VALUE}">{TEXT}</option>
	</mos:sub>
	<mos:sub condition="yes">
		<option value="{VALUE}" selected="selected">{TEXT}</option>
	</mos:sub>
</mos:tmpl>

<!-- Dynamic trees -->
<mos:tmpl name="include-tree">
	<script type="text/javascript" src="{SITEURL}/includes/js/dtree/dtree.js"></script>
	<link rel="stylesheet" href="{SITEURL}/includes/js/dtree/{TREECSS}" type="text/css" />
</mos:tmpl>

<mos:tmpl name="tree-buttons">
	<div class="expander">
		<a href="javascript:d.openAll();" title="<mos:Translate>Expand All</mos:Translate>">
			<img src="{ADMINURL}/images/expandall.png" border="0" height="13" width="13" alt="<mos:Translate>Expand All</mos:Translate>"/></a>
		<a href="javascript:d.closeAll();" title="<mos:Translate>Collapse All</mos:Translate>">
			<img src="{ADMINURL}/images/collapseall.png" border="0" height="13" width="13" alt="<mos:Translate>Collapse All</mos:Translate>"/></a>
	</div>
</mos:tmpl>

