body, html {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 50%;
}

a.dir  { font-family: tahoma; font-size: 12px; font-weight: bold; color: #000000 }
a.file  { font-family: tahoma; font-size: 12px; color: #222222 }
a.back  { font-family: tahoma; font-size: 12px; color: #FFFFFF }
a.close  { font-family: tahoma; font-size: 12px; color: #FFFFFF }
td.td_curr_dir  { font-family: tahoma; font-size: 12px; color: #FFFFFF; background-color: #000000 }
td.td_back  { background-color: #444444 }
td.td_close  { background-color: #444444 }
td.td_main  { background-color: #AAAAAA }

div#images ul {
	list-style-type: none;
	margin: 0 15px;
	padding: 0;
}
div#images li {
	float: left;
	margin: 10px 10px 10px 0;
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	}
div#images li img {
	display: block;
	margin: 5px 10px;
	border: 0px
}

div.main_content {
	overflow: auto;
	height: 290px;
}
