#menu a:link {color: #000; text-decoration: none; background-color: #DDDDDD;} 
#menu a:visited {color: #000; text-decoration: none; background-color: #DDDDDD;}
#menu a:hover {color: #757575; text-decoration: underline; background-color: #EEEEEE;}
#menu a:active {color: #000; text-decoration: none; background-color: #DDDDDD;}

#submenu2 a:link {color: #000; text-decoration: none; background-color: #DDDDDD;} 
#submenu2 a:visited {color: #000; text-decoration: none; background-color: #DDDDDD;}
#submenu2 a:hover {color: #757575; text-decoration: underline; background-color: #EEEEEE;}
#submenu2 a:active {color: #000; text-decoration: none; background-color: #DDDDDD;}

a:link {color: #000; text-decoration: none; background-color: #DDDDDD;} 
a:visited {color: #000; text-decoration: none; background-color: #DDDDDD;}
a:hover {color: #757575; text-decoration: underline; background-color: #EEEEEE;}
a:active {color: #000; text-decoration: none; background-color: #DDDDDD;}

#logout a:link {color: #000; text-decoration: underline; } 
#logout a:visited {color: #000; text-decoration: underline; }
#logout a:hover {color: #757575; text-decoration: underline; }
#logout a:active {color: #000; text-decoration: underline; }

a.ecatalog:hover {background-color: #00CCCC; text-decoration: none;} 
tr:hover {background-color: #00CCCC; text-decoration: none;}

.cleaner { margin: 0px; border: 0px; padding: 0px; height: 0px; clear: both; }

body 
{  
  background-color: #fdf2e0;
  margin: 0px 0px 0px 0px;
  min-width: 905px;
  text-align: center;
  border-width: 30px 0px 0px 0px;
  border-top-style: solid;
  border-top-color: #DDD;  
}

.wrapper 
{
  margin: 0px auto;
  text-align: left;
  top: -30px;
  width: 900px;
  min-height: 650px;  
  position: relative;
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}

.menuborder
{
  position: absolute; 
  top: 0px; 
  height: 29px; 
  width: 900px; 
  background-color: #DDD; 
  border-width: 1px 1px 1px 1px ; 
  border-style: solid; 
  border-color: #000000;
  z-index: 100;
}

.statusframe
{
  width: 126px; 
  height: 25px; 
  font-size: 12px; 
  background-color: #EEEEEE; 
  position: relative; 
  float: left; 
  border-width: 2px; 
  border-style: solid; 
  border-color: #AAAAAA #FFF #FFF #AAAAAA;
}

.statustext
{
  font-size: 12px; 
  font-weight: 600;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: absolute; 
  top: 5px; 
  left: 3px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.oneflag
{
  display: inline; 
  position: absolute;  
  right: 2px;
}

.oneflagimage
{
  width: 20px; 
  border-width: 2px; 
  border-style: solid; 
  border-color: #CCCCCC;
}

.flaglist
{
  display: none; 
  width: 26px; 
  position: absolute; 
  top: 0px; 
  right: 1px;
}

.onefromflaglist
{
  border-width: 1px; 
  border-style: solid; 
  border-color: #CCCCCC; 
  position: absolute; 
  left: 2px;
}

.aroundflagstopleft
{
  position: absolute; 
  background-color: #FFF; 
  left: 0px; 
  top: 2px;
}

.aroundflagsbottomright
{
  position: absolute; 
  background-color: #AAA;
}

.userframe
{
  width: 126px; 
  height: 25px; 
  font-size: 9px; 
  background-color: #EEEEEE; 
  position: relative; 
  float: left; 
  border-width: 2px; 
  border-style: solid; 
  border-color: #AAAAAA #FFF #FFF #AAAAAA;
}

.usertext
{
  position: absolute; 
  top: 1px; 
  left: 3px;
}

.roletext
{
  position: absolute; 
  top: 12px; 
  left: 3px;
}

.timetoend
{
  position: absolute; 
  top: 1px; 
  left: 70px; 
  width: 28px; 
  text-align: center;
}

.mainmenu
{
  width: 100px; 
  height: 29px;   
  background-color: #DDDDDD;
  position: relative;
  display: block;
  float: left;  
}

.textmainmenu
{
  position: absolute; 
  left: 7px; 
  top: 6px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.submenuwhole
{
  display: none; 
  position: absolute; 
  top: 29px;  
  width: 150px; 
  background-color: #EEEEEE;
  z-index: 100;  
  margin: 0px;
  padding: 0px;  
  border: 0px;
  overflow: hidden;
}

.reservemenu
{
  width: 100px; 
  height: 29px; 
  font-size: 12px; 
  background-color: #DDDDDD; 
  position: relative; 
  display: block;
  float: left;  
}

.submenu
{
  width: 150px; 
  height: 20px;
  background-color: #EEEEEE; 
  position: relative; 
  display: block;
  float: left;
  border: 0px;     
}

.textsubmenu
{
  position: absolute; 
  left: 7px; 
  top: 2px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border: 0px;  
  overflow: hidden;
}

.contentplace
{  
  background-color: #BDBCB8; 
  width: 900px; 
  padding: 0px 0px 30px 0px; 
  position: relative; 
  top: 30px;
  min-height: 520px;
  border: solid 1px black;  
  z-index: 50;
}

.new_line_customer_up
{
  position: relative; 
  clear: both; 
  margin: 0px; 
  border: 0px; 
  padding: 0px; 
  height: 4px;
}

.customer_top_distance
{
  position: absolute;
  left: 140px;
}

.new_line
{
  clear: both; 
  margin: 0px; 
  padding: 0px; 
  border: 0px;
}

#content_top{
	width:890px;
	height:230px;
	background:url(../img/modra_left.jpg) no-repeat; 
	margin-left: 3px;
	margin-right: auto;
	border-top:2px solid #8c8985;
	border-left:2px solid #8c8985;
	border-right:2px solid #8c8985;
	z-index: 1000;
	overflow: hidden;
	position: relative;
}

#content_top_left{
	width:468px;
	height:230px;
	float:right;
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#content_top_right1{
	width:402px;
	height:47px;
	background:url(../img/right_back.jpg) no-repeat;
	position: relative;
  float:left;
	color:#FFFFFF;
	font-size:20px;
	padding: 20px 0px 0px 20px;
	margin: 0px;
	border: 0px;
	text-transform:uppercase;
	font-weight:light;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	overflow: hidden;
}
#content_top_right2{
	width:422px;
	height:138px;
	background: transparent;
  float: left;	
	color:#FFFFFF;
	padding: 0px;
	margin: 0px;
	border: 0px;	
}

#content_top_right_kontakt{
	width:150px;
	height:47px;
	background:url(../img/right_back.jpg) no-repeat;
	background-position: right top;
	float:left;
	color:#FFFFFF;
	font-size:20px;
	padding: 20px 0px 0px 10px;
  margin: 0px 0px 0px 2px;	
	font-weight:light;
	font-family:Arial, Helvetica, sans-serif;
	z-index: 100;
	text-align: left;
}

#content_top_right2_kontakt{
	position: absolute;
  left: 180px;
  top: 71px;
  width:240px;
	height:150px;
	background:transparent;
	color:#FFFFFF;
  padding:0px;
	z-index: 100;
	margin: 0px 0px 0px 5px;
	border: 0px;
}

#content_top_right_hodiny{
	width:159px;
	height:150px;
	background:transparent;
	float:left;
	color:#FFFFFF;
  padding-top:30px;
  padding-left:0px;	
	z-index: 100;
}

#description{
  background-color: transparent; 
  overflow: hidden; 
  width: 402px; 
  height: 128px; 
  color: white;  
  margin: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter;
  line-height: 18px; 
  border: 0px;
  text-align: justify;  
  float: left;
  padding: 10px 0px 0px 10px;
}

.editfields{
  position: absolute; 
  font-weight: 600; 
  left: 140px; 
  bottom: 0px; 
  border: 1px solid #9C9C9C; 
  background: url(../img/under_edit.png) no-repeat bottom right;
}

.editimagefields{
  position: relative; 
  float: left; 
  margin: 0px; 
  font-weight: 600;   
  bottom: 0px; 
  border: 1px solid #9C9C9C; 
  background: url(../img/under_edit.png) no-repeat bottom right;
}

.editlabel{  
  position: relative; 
  float: left; 
  font-size: 14px; 
  font-weight: 200; 
  margin: 5px 0px 0px 0px; 
  padding: 0px;  
}

.obrazkydiv{
  position: relative; 
  float: left; 
  margin: 5px 3px 5px 3px; 
  border: 0px;
  padding: 0px;
  background-color: #FFFFCC;
  width: 393px;
}

.drazbyradio{
  position: relative; 
  float: left; 
  margin: 5px 0px 0px 0px; 
  border: 0px;
  padding: 0px;
}

.drazbylabel{
  position: relative; 
  float: left; 
  margin: 8px 5px 0px 5px; 
  padding: 0px; 
  width: 260px;
}

.drazby_file{
  position: relative; 
  float: left; 
  margin: 5px 0px 0px 0px; 
  padding: 0px; 
  width: 250px;
}

.drazby_obrazek{
  margin: 5px; 
  border: inset; 
  position: relative; 
  float: right;
}

.drazby_button{
  position: relative; 
  float: left; 
  margin: 5px 0px 0px 5px; 
  padding: 0px;
}

#around_text_1{
  background-color: transparent; 
  overflow: hidden; 
  width: 159px; 
  height: 144px; 
  color: white; 
  float: left; 
  position: relative; 
  margin: 0px; 
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 18px; 
  border: 0px;
}

#around_text_2{
  background-color: transparent; 
  overflow: hidden; 
  width: 240px; 
  height: 177px; 
  color: white; 
  float: left; 
  position: relative; 
  margin: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 25px; 
  border: 0px;
  padding: 0px;  
}

html>body .contentplace {*z-index: -1;}
