td,tr,table {
	margin:0; padding:0;
	}

body{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Helvetica, sans-serif;
	background:#66635d; 
	font-size:11px;
}

#back_center{
	width: 1026px;
	margin-left: auto;
	margin-right: auto;
	background: #66635d; /*url(../img/back_center.jpg) repeat-y; */
	border-left:1px solid #76736e;
	border-right:1px solid #76736e;
	
}
#baner_main{
	width: 987px;
	margin-left: auto;
	margin-right: auto;
	height:261px;
	display:block;
	background: url(../img/baner_main.jpg) no-repeat; 
}

#odkaz_main{
  width: 987px;
	margin-left: auto;
	margin-right: auto;
	height:261px;
	cursor: pointer;
}

#menu_main{
	width: 987px;
	height:53px;
	background:#66635d ;/*url(../img/back_menu.jpg) no-repeat; */
	margin-left: auto;
	margin-right: auto;
}
.tabs {list-style:none; padding:0px 0px 0px 4px; margin:0px 0px 0px 0px; }
.tabs li {float:left;}
.tabs li a {display:block;padding:10px 0px 0px 0px;text-align:center; position:relative; text-decoration:none; height:46px;}
.tabs li a em {font-size:11px; font-weight:normal;  font-style:normal; color:#355d7b; line-height:25px;text-transform:uppercase; font-family:verdana;}

.tabs li a.m1{z-index:600;background: url(../img/menu1.jpg) no-repeat;width:191px;  }
.tabs li a.m2{z-index:500;margin-left:-24px;background: url(../img/menu2.jpg) no-repeat;width:149px;}
.tabs li a.m3{z-index:400;margin-left:-24px;background: url(../img/menu3.jpg) no-repeat;width:193px;}
.tabs li a.m4{z-index:300;margin-left:-23px;background: url(../img/menu4.jpg) no-repeat;width:179px;}
.tabs li a.m5{z-index:200;margin-left:-23px;background: url(../img/menu5.jpg) no-repeat;width:191px;}
.tabs li a.m6{z-index:100;margin-left:-23px;background: url(../img/menu6.jpg) no-repeat;width:107px;}
.tabs li a.m7{z-index:50;margin-left:-24px;background: url(../img/menu7.jpg) no-repeat;width:107px;}

.tabs li a:hover{border:0; z-index:700; }
.tabs li a:hover.m1{cursor:pointer;background: url(../img/menu1_over.jpg) no-repeat;}
.tabs li a:hover.m2{cursor:pointer;background: url(../img/menu2_over.jpg) no-repeat;}
.tabs li a:hover.m3{cursor:pointer;background: url(../img/menu3_over.jpg) no-repeat;}
.tabs li a:hover.m4{cursor:pointer;background: url(../img/menu4_over.jpg) no-repeat;}
.tabs li a:hover.m5{cursor:pointer;background: url(../img/menu5_over.jpg) no-repeat;}
.tabs li a:hover.m6{cursor:pointer;background: url(../img/menu6_over.jpg) no-repeat;}
.tabs li a:hover.m7{cursor:pointer;background: url(../img/menu7_over.jpg) no-repeat;}
.tabs li a:hover em  {background-position: right center; color:#fff;}

.tabs li a.n1{border:0; z-index:700; cursor: default; background: url(../img/menu1_over.jpg) no-repeat; width:192px;}
.tabs li a.n1 em {background-position: right center; color:#fff;}

.tabs li a.n2{border:0; z-index:700; cursor: default; background: url(../img/menu2_over.jpg) no-repeat; width:149px; margin-left:-24px;}
.tabs li a.n2 em {background-position: right center; color:#fff;}

.tabs li a.n3{border:0; z-index:700; cursor: default; background: url(../img/menu3_over.jpg) no-repeat; width:193px; margin-left:-24px;}
.tabs li a.n3 em {background-position: right center; color:#fff;}

.tabs li a.n4{border:0; z-index:700; cursor: default; background: url(../img/menu4_over.jpg) no-repeat; width:179px; margin-left:-23px;}
.tabs li a.n4 em {background-position: right center; color:#fff;}

.tabs li a.n5{border:0; z-index:700; cursor: default; background: url(../img/menu5_over.jpg) no-repeat; width:191px; margin-left:-23px;}
.tabs li a.n5 em {background-position: right center; color:#fff;}

.tabs li a.n6{border:0; z-index:700; cursor: default; background: url(../img/menu6_over.jpg) no-repeat; width:107px; margin-left:-23px;}
.tabs li a.n6 em {background-position: right center; color:#fff;}

.tabs li a.n7{border:0; z-index:700; cursor: default; background: url(../img/menu7_over.jpg) no-repeat; width:107px; margin-left:-24px;}
.tabs li a.n7 em {background-position: right center; color:#fff;}

#submenu{
	width: 981px;
	height:41px;
	background:#66635d url(../img/back_submenu.jpg) no-repeat; 
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
}

#left_subsub_menu{
	width: 452px;
	height:157px;
	background:transparent;
	/*position:absolute;
	bottom:0px;
	left:48px;*/
}

.tabs3 {list-style:none; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.tabs3 li {float:left;}
.tabs3 li a {display:block;padding:0px 0px 0px 0px;text-align:center; position:relative; text-decoration:none; height:157px;}
.tabs3 li a em {font-size:11px; font-weight:normal;  font-style:normal; color:#355d7b; line-height:30px;text-transform:uppercase; font-family:verdana;}

.tabs3 li a.m{z-index:600;background: url(../img/sub3a_deactive.jpg) no-repeat;width:145px;}
.tabs3 li a:hover{border:0; z-index:700; }
.tabs3 li a:hover.m{cursor:pointer;background: url(../img/sub3a_active.jpg) no-repeat;}
.tabs3 li a:hover em  {background-position: right center; color:#fff;}

.tabs3 li a.b{z-index:600;background: url(../img/sub3b_deactive.jpg) no-repeat;width:139px;}
.tabs3 li a:hover.b{cursor:pointer;background: url(../img/sub3b_active.jpg) no-repeat;}

.tabs3 li a.d{z-index:600;background: url(../img/sub3c_deactive.jpg) no-repeat;width:150px;}
.tabs3 li a:hover.d{cursor:pointer;background: url(../img/sub3c_active.jpg) no-repeat;}



.tabs3 li a.n{border:0; z-index:700; width:145px; cursor: default; background: url(../img/sub3a_active.jpg) no-repeat;}
.tabs3 li a.n em  {background-position: right center; color:#fff;}

.tabs3 li a.c{border:0; z-index:700; width:139px; cursor: default; background: url(../img/sub3b_active.jpg) no-repeat;}
.tabs3 li a.c em  {background-position: right center; color:#fff;}


#submenu_in{
	width: 452px;
	height:31px;
	background:transparent;
	position:absolute;
	bottom:0px;
	left:48px;
}
.tabs2 {list-style:none; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.tabs2 li {float:left;}
.tabs2 li a {display:block;padding:0px 0px 0px 0px;text-align:center; position:relative; text-decoration:none; height:31px;}
.tabs2 li a em {font-size:11px; font-weight:normal;  font-style:normal; color:#355d7b; line-height:30px;text-transform:uppercase; font-family:verdana;}

.tabs2 li a.m{z-index:600;background: url(../img/submenu1.jpg) no-repeat;width:150px;}
.tabs2 li a:hover{border:0; z-index:700; }
.tabs2 li a:hover.m{cursor:pointer;background: url(../img/submenu1_over.jpg) no-repeat;}
.tabs2 li a:hover em  {background-position: right center; color:#fff;}

.tabs2 li a.n{border:0; z-index:700; width:150px; cursor: default; background: url(../img/submenu1_over.jpg) no-repeat;}
.tabs2 li a.n em  {background-position: right center; color:#fff;}

.tabs2 li a.g{z-index:600;background: url(../img/Bsubmenu1.jpg) no-repeat;width:226px;}
.tabs2 li a:hover.g{cursor:pointer;background: url(../img/Bsubmenu1_over.jpg) no-repeat;}

.tabs2 li a.h{border:0; z-index:700; width:226px; cursor: default; background: url(../img/Bsubmenu1_over.jpg) no-repeat;}
.tabs2 li a.h em  {background-position: right center; color:#fff;}


#detail_drazby {
  border:0; 
  z-index:700; 
  width:225px;   
  background: url(../img/submenu1_over.jpg) no-repeat;  
}

#detail_drazby em {background-position: right center; color:#fff;}

.tabs2 li a.o{z-index:600;background: url(../img/submenu1.jpg) no-repeat; width:225px; color:#355d7b; cursor: default; }
.tabs2 li a:hover.o em {color:#355d7b;}

#back_content1{
	width: 982px;
	min-height:4px;
	background:url(../img/back_content1.jpg) repeat-y;
	margin-left: auto;
	margin-right: auto;	
	padding: 0px;
}
#footer1{
	width: 981px;
	height:117px;
	background:#66635d url(../img/footer1.jpg) no-repeat; 
	margin-left: auto;
	margin-right: auto;
}
#footer2,#footer3{
	width: 200px;
	height:20px;
	background:trasparent;
	color:#b3b2ad;
}
#footer2{
	float:left;
	margin-left:26px;
	text-align:left;
}
#footer3{
	float:right;
	margin-right:30px;
	text-align:right;
}

#footer3 a{ color: #b3b2ad; text-decoration: none;}
#footer3 a:hover{ color: #b3b2ad; text-decoration: underline;}

#content_top{
	width:890px;
	height:230px;
	background:url(../img/modra_left.jpg) no-repeat; 
	margin: 0px auto 0px 48px;
	border-top:2px solid #8c8985;
	border-left:2px solid #8c8985;
	border-right:2px solid #8c8985;
	border-bottom: 0px;
	overflow: hidden;
  padding: 0px;
  position: relative;
}
#content_top_left{
	width:468px;
	height:230px;
	float:right;
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#content_top_right1{
	width:402px;
	height:47px;
	background:url(../img/right_back.jpg) no-repeat;
	position: relative;
  float:left;
	color:#FFFFFF;
	font-size:20px;
	padding: 24px 0px 0px 20px;
	margin: 0px;
	border: 0px;
	text-transform:uppercase;
	font-weight:light;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	overflow: hidden;
}
#content_top_right2{
	width:422px;
	height:138px;
	background: transparent;
  float: left;	
	color:#FFFFFF;
	padding: 0px;
	margin: 0px;
	border: 0px;	
}

#back_content{
	width:890px;
	min-height:7px;
	background:url(../img/back_content.jpg) repeat-y; 
	margin-left: 48px;
	margin-right: auto;
	border-bottom:2px solid #8c8985;
	border-left:2px solid #8c8985;
	border-right:2px solid #8c8985;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
	text-align: left;
}

#back_content_seznam{
	width:890px;
	min-height:7px;
	background:url(../img/back_content.jpg) repeat-y; 
	margin-left: 48px;
	margin-right: auto;
	margin-top: 0px;
	border-bottom:2px solid #8c8985;
	border-left:2px solid #8c8985;
	border-right:2px solid #8c8985;
	border-top: 0px;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
	text-align: center;
}

#wysiwyg{
  width: 850px;
  margin: 20px;
  padding: 0px;
  border: 0px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  overflow: hidden;
  text-align: justify;
  
}

#wysiwyg td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; margin:8px;}

#wysiwyg h1 {font-size: 2em}
#wysiwyg h2 {font-size: 1.5em}
#wysiwyg h3 {font-size: 1.17em}
#wysiwyg h4 {font-size: 1em}
#wysiwyg h5 {font-size: .83em}
#wysiwyg h6 {font-size: .75em}

#wysiwyg scrollbar-3dlight-color:#F0F0EE;
#wysiwyg scrollbar-arrow-color:#676662;
#wysiwyg scrollbar-base-color:#F0F0EE;
#wysiwyg scrollbar-darkshadow-color:#DDD;
#wysiwyg scrollbar-face-color:#E0E0DD;
#wysiwyg scrollbar-highlight-color:#F0F0EE;
#wysiwyg scrollbar-shadow-color:#F0F0EE;
#wysiwyg scrollbar-track-color:#F5F5F5;

#wysiwyg img {border:0;}

#wysiwyg a {color: #003399; text-decoration: underline;}
#wysiwyg a:hover {color: #003399; text-decoration: underline;}
#wysiwyg a:visited {color: #003399; text-decoration: underline;}

#wysiwygd{
  width: 514px;
  margin: 20px;
  padding: 0px;
  border: 0px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  overflow: hidden;
}

#wysiwygd td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; margin:8px;}

#wysiwygd h1 {font-size: 2em}
#wysiwygd h2 {font-size: 1.5em}
#wysiwygd h3 {font-size: 1.17em}
#wysiwygd h4 {font-size: 1em}
#wysiwygd h5 {font-size: .83em}
#wysiwygd h6 {font-size: .75em}

#wysiwygd scrollbar-3dlight-color:#F0F0EE;
#wysiwygd scrollbar-arrow-color:#676662;
#wysiwygd scrollbar-base-color:#F0F0EE;
#wysiwygd scrollbar-darkshadow-color:#DDD;
#wysiwygd scrollbar-face-color:#E0E0DD;
#wysiwygd scrollbar-highlight-color:#F0F0EE;
#wysiwygd scrollbar-shadow-color:#F0F0EE;
#wysiwygd scrollbar-track-color:#F5F5F5;

#wysiwyg img {border:0;}

#wysiwygd a {color: #003399; text-decoration: underline;}
#wysiwygd a:hover {color: #003399; text-decoration: underline;}
#wysiwygd a:visited {color: #003399; text-decoration: underline;}

#back_content_kontakt{
	width:875px;
	min-height:7px;
	background:url(../img/back_content.jpg) repeat-y; 
	margin-left: 48px;
	margin-right: auto;
	border-bottom:2px solid #8c8985;
	border-left:2px solid #8c8985;
	border-right:2px solid #8c8985;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:15px;
	text-align: center;
}


#content_top_right2_kontakt{
	position: absolute;
  left: 180px;
  top: 71px;
  width:240px;
	height:150px;
	background: transparent;	
	color:#FFFFFF;
  padding:0px;
	z-index: 100;
	margin: 0px 0px 0px 5px;
}

#content_top_right_hodiny{
	width:159px;
	height:150px;
	background:transparent;
	float:left;
	color:#FFFFFF;
  padding-top:55px;
  padding-left:0px;	
	z-index: 100;
}

#content_top_right_kontakt{
	width:150px;
	height:47px;
	background: transparent;
	background-position: right top;
	float:left;
	color:#FFFFFF;
	font-size:20px;
	padding: 20px 0px 0px 10px;
  margin: 0px 0px 0px 2px;	
	font-weight:light;
	font-family:Arial, Helvetica, sans-serif;
	z-index: 100;
	text-align: left;
}

#around_text_1{
  background-color: transparent; 
  overflow: hidden; 
  width: 159px; 
  height: 144px; 
  color: white; 
  float: left; 
  position: relative; 
  margin: 0px; 
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 18px; 
  border: 0px;
}

#around_text_1 a {color: #FFFFFF; text-decoration: none;}
#around_text_1 a:hover {color: #FFFFFF; text-decoration: underline;}

#around_text_2{
  background-color: transparent; 
  overflow: hidden; 
  width: 240px; 
  height: 150px; 
  color: white; 
  float: left; 
  position: relative; 
  margin: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 25px; 
  border: 0px;
  padding: 0px;  
}

#content_top_right_text{
	width:390px;
	height:150px;
	background:transparent;
	float:left;
	color:#FFFFFF;
  padding-top:30px;
  padding-left:10px;	
	z-index: 100;
}

#around_text_in{
  background-color: transparent; 
  overflow: hidden; 
  width: 390px; 
  height: 144px; 
  color: white; 
  float: left; 
  position: relative; 
  margin: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 18px; 
  border: 0px;
}

h1{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter; 
  text-align: left;
  line-height: 18px;
  text-align: justify;     
}

#description{
  background-color: transparent; 
  overflow: hidden; 
  width: 408px; 
  height: 128px; 
  color: white;  
  margin: 0px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  font-weight: lighter; 
  line-height: 18px; 
  border: 0px;
  text-align: justify;  
  position: absolute;
  left: 10px;
  top: 70px;
  padding: 10px 0px 0px 10px;
}

strong a{ text-decoration:none; color: #214F71;}
strong a:hover{ text-decoration:underline; color: #214F71;}

.wraper_list_drazby{
  position: relative;  
  width: 846px; 
  height: 76px; 
  margin: 0px auto 8px auto; 
  padding: 0px; 
  border: 0px;
  text-align: left;  
}

.table_list_drazby{
  position: relative; 
  width: 846px; 
  height: 76px; 
  border: 1px solid #CAC4B4; 
  float: left; 
  margin: 0px;  
}

.td_list_picture{
  width: 97px; 
  border-right: 1px solid #CAC4B4;
}

.list_picture{
  position:relative; 
  float: left; 
  border: 1px solid #CAC4B4; 
  margin: 0px;
  padding: 0px;
}

.list_picture_small{
  position:relative; 
  float: left; 
  border: 1px solid #CAC4B4; 
  margin: 4px;
}

.td_list_main{
  width: 500px; 
  border-right: 1px solid #CAC4B4;
  text-align: left;
  position: relative;
}

.list_nadpis{
  position:relative; 
  float: left; 
  color: #214F71; 
  font-size: 12px; 
  margin: 3px 0px 0px 8px; 
  padding: 0px;
  font-weight: 200;
}

.nadpisodkaz{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.new_line{
  position: relative;
  clear: both;   
  padding: 0px; 
  border: 0px; 
  margin: 0px;
  height: 0px;
  display: inline;
}

.informace_list{  
  position: relative;
  float: left; 
  color: #000000; 
  font-size: 10px; 
  margin: 3px 0px 0px 8px;  
  font-weight: 600;  
  width: 486px;
}

.kratky_text_list{
  position:relative; 
  float: left; 
  color: #000000; 
  font-size: 9px; 
  margin: 1px 0px 0px 8px; 
  font-weight: 200; 
  height: 36px; 
  width: 486px; 
  overflow: hidden; 
  text-align: left;
}

.pevny_text_dc{
  width: 115px; 
  border-right: 1px solid #CAC4B4; 
  text-align: left; 
  border-bottom: 1px solid #CAC4B4; 
  padding-left: 5px; 
  font-size: 9px;
}

.prom_text_dc{
  width: 134px; 
  text-align: right; 
  border-bottom: 1px solid #CAC4B4; 
  padding-right: 5px; 
  font-size: 9px;
}

.list_zruseno{
  position: absolute; 
  z-index: 900; 
  top: -1px; 
  width: 848px;
  height: 78px;
  left: -1px;
}

.pevny_text_detail{
  width: 150px; 
  border-right: 1px solid #CAC4B4; 
  text-align: left; 
  border-bottom: 1px solid #CAC4B4; 
  padding-left: 15px; 
  font-size: 10px;
  height: 30px;
}

.prom_text_detail{
  width: 134px; 
  height: 30px;
  text-align: right; 
  border-bottom: 1px solid #CAC4B4; 
  border-right: 1px solid #CAC4B4;
  padding-right: 15px; 
  font-size: 10px;
}

#content_detail{
  width:890px; 
  min-height:7px; 
  background:url(../img/back_content.jpg) repeat-y; 
  margin-left: 48px; 
  margin-right: auto; 
  border-bottom:2px solid #8c8985; 
  border-left:2px solid #8c8985; 
  border-right:2px solid #8c8985; 
  padding-bottom:10px; 
  padding-top:10px;
}

#main_table_detail{
  position: relative; 
  width: 843px; 
  border: 1px solid #CAC4B4; 
  clear: both; 
  margin: 0px 22px 0px 22px; 
  left: 0px;
}

#td_picture_detail{
  border-bottom: 1px solid #CAC4B4; 
  border-right: 1px solid #CAC4B4; 
  width: 286px; 
  height: 214px;
}

#table_over_table_detail{
  border-bottom: 1px solid #CAC4B4; 
  border-right: 1px solid #CAC4B4; 
  padding: 4px 5px 8px 5px; 
  width: 286px; 
  height: 150px;
}

#empty_corner {
  float:right; 
  width:458px; 
  height:155px;   
  background: transparent; 
  margin: 0px; 
  padding: 0px;	
  border: 0px;
}

#right_picture {
  position: absolute; 
  top: 0px; 
  right: 0px; 
  width:468px; 
  height:230px; 
  margin: 0px;	
  padding: 0px;	
  border: 0px;
}

#left_picture {
  width:422px; 
  height:75px; 
  float:left; 
  margin: 0px;	
  padding: 0px;	
  border: 0px;
}

#left_picture2 {
  width:422px; 
  height:68px; 
  float:left; 
  margin: 0px;	
  padding: 0px;	
  border: 0px;
}

#under_wysiwyg {
  width:890px; 
  background:url(../img/back_content.jpg) repeat-y; 
  margin: 0px auto 0px 48px; 
  border: 2px solid #8c8985; 
  padding: 0px 0px 20px 0px; 
  position: relative;
}

#nadpis_blueback {
  
  font-family: Verdana;
  font-weight: 600;
  margin-left:8px;
  margin-top:80px;
  margin-bottom:10px;
  
  padding-left:10px;
  
  flaot:left;
  width:864px; 
  color: white;
  display: inline-blok;
  line-height:40px;
  font-size:14px;
  background-color:rgb(0,62,123) ;
}

#table_data  {


margin-top:20px;
margin-left:8px;
/*display: inline-blok;*/
font-family: Verdana;
font-size:11px;
width:874px;


}


#table_data th  {

padding-left:5px;
padding-right:5px;
padding-top:3px; 
padding-bottom:3px;
text-align: center;
color: white;
font-weight: 600;
}

#table_data td {

padding-left:0px;
padding-right:0px;
padding-top:3px; 
padding-bottom:3px;
text-align: center;
color: rgb(0,62,123);

}

#table_data th a img, #table_data td a img { border:0;}

#table_data_ned  {

margin-top:20px;
margin-left:8px;
display: inline-blok;
font-family: Verdana;
font-size:11px;
width:874px;


}

#table_data_ned th  {

padding-left:5px;
padding-right:5px;
padding-top:8px; 
padding-bottom:8px;
text-align: center;
color: white;
font-weight: 600;


}

#table_data_ned td {

padding-left:5px;
padding-right:5px;
padding-top:8px; 
padding-bottom:8px;
text-align: center;
border: 1px rgb(0,62,123)  solid;
color: rgb(0,62,123);

}

#table_data_ned th a img  { border:0px; }
