body {
   background: #000 url('../img/back_content.jpg');
   margin: 10px 20px 0px 20px;
   padding: 0px;
}

body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; margin: 10px 20px 0px 20px; padding: 0px;}
body.mceForceColors {color:#000;}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
img {border:0;}

a {color: #003399; text-decoration: underline;}
a:hover {color: #003399; text-decoration: underline;}
a:visited {color: #003399; text-decoration: underline;}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}
